Flask==3.0.3
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
yfinance==0.2.44
python-dotenv==1.0.1
pandas==2.2.3
peewee==3.17.6
multitasking==0.0.11
frozendict==2.4.4
html5lib==1.1
tzdata==2024.2
SQLAlchemy==2.0.35
patsy>=0.5.2
scipy>=1.4
pillow>=7.1.0
pyarrow>=8.0.0
datashape
fonttools>=4.22.0
FuzzyTM>=0.4.0
